* {
  box-sizing: border-box;
}

:root {
  --main-color: #4CAF50; /* Green */
  --main-color-alt: #2E7D32; /* Darker Green */
  --main-color-fundo: #EFEFEF; /* Light Grey */
  --color-primary: #1E88E5; /* Blue */
  --color-secondary: #FF7043; /* Orange */
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-color-fundo);
} */

/* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5;
} */



body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-color-fundo);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5;
}

main {
  flex: 1;
  padding-top: 60px; /* Space for fixed header */
  padding-bottom: 60px; /* Space for fixed footer */
}

