html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.footer {
  position: fixed; /* تغيير إلى fixed بدلاً من absolute */
  bottom: 0;
  background-color: var(--main-color);
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-container {
  background-color: var(--main-color);
  text-align: center;
  color: white;
}

.footer-container p {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

