.donation-container {
  margin: 80px 40px;
    padding: 10px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 15px gray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .donation-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    max-height: fit-content;
  }
  
  .donation-card {
    display: flex;
    flex-direction: column;
    height: 60%;
    
  }
  
  .donation-card .card {
    height: 100%;
    width: 200px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  .donation-card .card-header {
    background-size: cover !important;
    background-position: center !important;
    height: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .donation-card .card-body {
    flex: 1;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
  }
  