.title-box {
 margin-top: 0 !important;
}
.title-box .prog-step-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box .prog-step-container .prog-bar-inner{
   height: 40px !important;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
 
}

/* الشريط الأخضر داخل الحاوية */
.title-box .prog-step-container .prog-bar-inner .progress-bar {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
    background-color: var(--main-color) !important;
  height: 100px !important;
  padding: 0 8px;
}

.step{
  color:var(--color-secondary) ;
}
