.user-form {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    margin: 20px auto;
    max-width: 500px;
    text-align: right;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.user-form:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#userType{
 border: 2px solid gray;
}
.user-form input[type="text"],
.user-form input[type="tel"],
.user-form input[type="email"] {
    margin-bottom: 10px ;
    padding: 10px;

}
.user-form .btn-userType{
    margin: 20px auto;
    width: 100%;
    padding: 20px auto;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.user-form .btn-userType:hover{
   
    background-color: var(--color-secondary);
   
}

.user-form #userType {
    background-color: #ddd;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.user-form .sendButton{
    margin-right: 150px;
    margin-top:20px ;
    padding: 20px auto;
    width: 100%;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    border: none;

}

.user-form .sendButton:hover{
    background-color: var(--color-secondary);
}

.user-form .backButton{
 position: absolute;
 top:28px;
 left:25px;
}