.user-form {
  max-width: 700px;
  width: 39vw;
  margin: auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: right;
}

.info-section {
  margin-bottom: 20px;
}

.user-form h4 {
  color: var(--main-color);
  margin-bottom: 20px;
  font-weight: bold;
}

.user-form .form-control {
  margin-bottom: 15px;
  text-align: right;
}

.action-buttons button {
  min-width: 120px;
  font-weight: bold;
}

.button-prev {
  background-color: #6c757d;
  color: white;
  border: none;
}

.button-next {
  background-color: var(--main-color-alt);
  color: white;
  border: none;
}

.button-submit {
  background-color: var(--color-secondary);
  color: white;
  border: none;
}

.success-message-box {
  background-color: #e6fff3;
  border: 1px solid #b2f5d6;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
}

.go-login-button {
  margin-top: 20px;
  background-color: var(--main-color-alt);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
}

.go-login-button:hover {
  background-color: var(--color-secondary);
}
